#include <windows.h>
#include "version.h"
1 VERSIONINFO
 FILEVERSION OPENDIAG_VERSION_FIELDS
 PRODUCTVERSION OPENDIAG_VERSION_FIELDS
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_DLL
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "040904b0"
  BEGIN
   VALUE "CompanyName", "OpenDIAG\0"
   VALUE "FileDescription", "OpenDIAG J2534-1 04.04 Pass-Thru DLL\0"
   VALUE "FileVersion", OPENDIAG_VERSION_STRING "\0"
   VALUE "ProductName", "OpenDIAG\0"
   VALUE "ProductVersion", OPENDIAG_VERSION_STRING "\0"
   VALUE "OriginalFilename", "odg40432.dll\0"
  END
 END
 BLOCK "VarFileInfo"
 BEGIN
  VALUE "Translation", 0x409, 1200
 END
END
