#include <windows.h>
#include "resource.h"

IDD_CONFIG DIALOGEX 0, 0, 380, 304
STYLE DS_SETFONT | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "OpenDIAG Adapter Configuration"
FONT 8, "Tahoma"
BEGIN
    GROUPBOX "Connection", -1, 8, 6, 364, 103
    LTEXT "Adapter &name:", -1, 18, 23, 75, 10
    EDITTEXT IDC_NAME, 94, 20, 266, 14, ES_AUTOHSCROLL
    LTEXT "&Transport:", -1, 18, 44, 75, 10
    COMBOBOX IDC_TRANSPORT, 94, 41, 145, 60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON "&Refresh ports", IDC_REFRESH, 247, 41, 113, 15
    LTEXT "&COM port:", -1, 18, 65, 75, 10
    COMBOBOX IDC_COM, 94, 62, 95, 100, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
    LTEXT "&Host (IPv4):", -1, 18, 86, 75, 10
    EDITTEXT IDC_HOST, 94, 83, 145, 14, ES_AUTOHSCROLL
    LTEXT "Port:", -1, 248, 86, 30, 10
    EDITTEXT IDC_PORT, 282, 83, 78, 14, ES_AUTOHSCROLL | ES_NUMBER
    GROUPBOX "Options", -1, 8, 114, 364, 43
    LTEXT "Serial &baud rate:", -1, 18, 131, 75, 10
    EDITTEXT IDC_BAUD, 94, 128, 80, 14, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT "&Timeout (ms):", -1, 200, 131, 75, 10
    EDITTEXT IDC_TIMEOUT, 282, 128, 78, 14, ES_AUTOHSCROLL | ES_NUMBER

    GROUPBOX "DLL logging", -1, 8, 162, 364, 46
    CONTROL "&Enable logging", IDC_LOGGING, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 18, 179, 84, 12
    LTEXT "File limit (KB):", -1, 111, 181, 69, 10
    EDITTEXT IDC_LOG_SIZE, 183, 177, 65, 14, ES_AUTOHSCROLL | ES_NUMBER
    PUSHBUTTON "Open log &folder", IDC_LOG_FOLDER, 260, 176, 100, 16

    LTEXT "", IDC_VERSIONS, 12, 215, 356, 10
    EDITTEXT IDC_STATUS, 12, 230, 356, 38, ES_MULTILINE | ES_READONLY | ES_AUTOVSCROLL | WS_VSCROLL
    PUSHBUTTON "Update &Firmware", IDC_UPDATE, 12, 278, 88, 18
    PUSHBUTTON "Save && &Test", IDC_TEST, 108, 278, 86, 18
    DEFPUSHBUTTON "&Save", IDC_SAVE, 202, 278, 78, 18
    PUSHBUTTON "Close", IDCANCEL, 288, 278, 80, 18
END

1 VERSIONINFO
 FILEVERSION 0,1,1,0
 PRODUCTVERSION 0,1,1,0
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "040904b0"
  BEGIN
   VALUE "CompanyName", "OpenDIAG\0"
   VALUE "FileDescription", "OpenDIAG Adapter Configuration\0"
   VALUE "FileVersion", "0.1.1.0\0"
   VALUE "ProductName", "OpenDIAG\0"
   VALUE "ProductVersion", "0.1.1.0\0"
   VALUE "OriginalFilename", "opendiag_config.exe\0"
  END
 END
 BLOCK "VarFileInfo"
 BEGIN
  VALUE "Translation", 0x409, 1200
 END
END
